spring:
    application:
        name: mlyauth
    profiles:
      active: mysql
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: validateNewPerson
            use-new-id-generator-mappings: true

idp:
    saml:
        entityId: primainsureIDP

server:
    port: 16666

logging:
  file: logs/mlyauth.log
  level:
    ROOT: INFO
    org.opensaml: INFO
    org.springframework.core: INFO
    org.springframework.security.saml: INFO

info:
    build:
        artifact: mly-auth
        name: MlyAuth
        description: Moulay Authentication
        version: 1.0

management:
  security:
    enabled: false

liquibase:
  change-log: classpath:database/db-changelog.yaml
  drop-first: true