<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/layout.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}" />

    <script>
        $(document).ready(function () {

            $("#refresh-access-form").submit(function (event) {
                event.preventDefault();
                refreshAccess();
            });

        });
    </script>
</head>

<body>
    <div class="container widePage">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sample Client</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choisissez un produit<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/auto}" >Automobile/Carapass</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choisissez une instance <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Sandbox</a></li>
                                <li><a href="#">QA1</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" id="refresh-access-form" role="search">
                        <div class="form-group">
                            <span id="expirationCounter" class="form-control"></span>
                            <input type="text" class="form-control" placeholder="identifiant externe" />
                        </div>
                        <button type="submit" class="btn btn-default">Refresh Token</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-sm-3 sidebar">
                <div class="list-group">
                    <span href="#" class="list-group-item active">Liste des services</span>
                    <a th:href="@{/auto/eligibility}" class="list-group-item">
                        <i class="fa fa-comment-o"></i> WS Eligibilite
                    </a>
                </div>
            </div>
            <div class="col-sm-9 content">
                <div layout:fragment="wsForm"></div>
            </div>
        </div>
    </div>
</body>
</html>