<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prima IDP - Not Authenticated</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.css}" />
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1><i class="fa fa-ban" style="color:red"></i> Not Authenticated</h1>
        <p class="lead">The authentication process failed.</p>
    </div>
</div>
</body>
</html>