<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prima IDP - Internal Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.css}" />
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1><span class="glyphicon glyphicon-fire" style="color:red"></span> Internal Error</h1>
        <p class="lead">The Prima IDP is returning an internal error.</p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">Try Again</span></a>
    </div>
</div>
</body>
</html>