<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Navigate</title>
</head>
<body onload="document.forms[0].submit()">

<noscript>
    <p>
        <strong>Note:</strong> Since your browser does not support JavaScript,
        you must press the Continue button once to proceed.
    </p>
</noscript>

<form id="post-navigation-form" name="post-navigation-form" action="#" th:action="@{${navigation.target}}"
      th:object="${navigation}" th:method="POST">
    <tr th:each="attribute :${navigation.attributes}">
        <input type="hidden" th:name="${attribute.alias}" th:value="${attribute.value}" disabled="disabled"/>
    </tr>

    <noscript>
        <div>
            <input type="submit" value="Continue"/>
        </div>
    </noscript>
</form>
</body>
</html>