<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Navigate</title>
</head>
<body onload="document.forms[0].submit()">

<noscript>
    <p>
        <strong>Note:</strong> Since your browser does not support JavaScript,
        you must press the Continue button once to proceed.
    </p>
</noscript>

<form id="post-navigation-form" name="post-navigation-form"
      action="https://uat-sgi-policy01.prima-solutions.com/primainsure/j_spring_security_check"
      method="POST">
    <input type="hidden" name="j_username" value="gestF" disabled="disabled"/>
    <input type="hidden" name="j_password" value="gestF" disabled="disabled"/>
    <input type="hidden" name="_csrf" value="e0f618b7-a323-4ffa-b7b3-01f566779e0c" disabled="disabled"/>

    <noscript>
        <div>
            <input type="submit" value="Continue"/>
        </div>
    </noscript>
</form>
</body>
</html>