<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Navigate</title>
</head>
<body onload="document.forms[0].submit()">

<noscript>
    <p>
        <strong>Note:</strong> Since your browser does not support JavaScript,
        you must press the Continue button once to proceed.
    </p>
</noscript>

<form id="post-navigation-form" name="post-navigation-form" action="https://localhost/j_spring_security_check"
      method="POST">
    <input type="hidden" name="username" value="dfdfd" disabled="disabled"/>
    <input type="hidden" name="password" value="dfdf" disabled="disabled"/>
    <noscript>
        <div>
            <input type="submit" value="Continue"/>
        </div>
    </noscript>
</form>
</body>


</html>