# to improve performance
variables:
  DOCKER_HOST: tcp://docker:2375
  #DOCKER_DRIVER: overlay2

# we need DinD service
services:
  - docker:dind

image: openjdk:10-jdk

stages:
  - build
  - test

before_script:
  - echo `pwd`
  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE"
  - apt-get update
  #- apt-get install -y openjfx
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew assemble
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 week
  only:
    - master

test:
  stage: test
  script:
    - ./gradlew check

after_script:
  - echo "End CI"