version: "3"
services:

  idp-database:
    image: mysql
    container_name: idp-database
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      resources:
        reservations:
          memory: 128M
        limits:
          memory: 256M
    environment:
      ON_CREATE_DB: mlyauth
      MYSQL_DATABASE: mlyauth
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      EXTRA_OPTS: "--lower_case_table_names=1"
    ports:
      - 3316:3306
    networks:
      - backend
    volumes:
      - idp-data:/var/lib/mysql:rw
  idp-backend:
    image: mlyahmed/primaidp
    container_name: idp-backend
    volumes:
      - "/tmp:/tmp"
      - "/opt:/opt"
    ports:
      - 8998:16666
    links:
      - idp-database:idp-database
    networks:
      - backend
    depends_on:
      - idp-database
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure

networks:
  backend:

volumes:
  idp-data: {}