spring:
    application:
        name: mlyauth
    security:
        username: blaze
        password: Q1w2e3r4
        role: ADMIN
    profiles:
      active: mysql
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: validate
            use-new-id-generator-mappings: true
server:
    port: 16666

logging:
  file: logs/mlyauth.log
  level: info

info:
    build:
        artifact: mly-auth
        name: MlyAuth
        description: Moulay Authentication
        version: 1.0

management:
  security:
    enabled: false

liquibase:
  change-log: classpath:database/db-changelog.yaml
  drop-first: true
