<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">


<div layout:fragment="wsFormInclude">
    <link rel="stylesheet" th:href="@{/assets/css/auto/eligibility/WSEligibility.css}" />
    <script type="application/javascript"   th:src="@{/assets/js/auto/eligibility/WSEligibilityForm.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/auto/eligibility/WSEligibility.js}"></script>
</div>

</html>