spring:
    datasource:
        url: jdbc:mysql://database:3306/idp?useSSL=false
        username: root
        password: ENC(wZFqK9UYnPg9+LDCv5bq4t9KW50924ZBdXMoHIoZe50=)
        driver-class-name: org.mariadb.jdbc.Driver
        testWhileIdle: true
        validationQuery: SELECT 1
    jpa:
        database: MYSQL
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
        hibernate:
          naming:
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    liquibase:
      contexts: prod


sp:
  saml:
    proxy:
      scheme: http
      serverName: idp.localcloud.mlyahmed.net
      serverPort: 80
      includeServerPortInRequestURL: false
      contextPath: /


keystore:
  path: classpath:keys/keystore.jks
  alias: sgi.prima-solutions.com
  password: ENC(DGOhG+fPHDnPCYZEz/6Q+9rfLIO3dCR8d1Fx7Fgaxtw=)