spring:
    datasource:
        url: jdbc:mysql://localhost:3306/mlyauth?useSSL=false
        username: root
        password: ENC(xUvl6VVZrLXtIe7ir7qamg==)
        driver-class-name: com.mysql.jdbc.Driver
        testWhileIdle: true
        validationQuery: SELECT 1
    jpa:
        database: MYSQL
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
        hibernate:
          naming:
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl