<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/base.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/base-json-form.css}" />

    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/base.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/underscore.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/jsv.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/jsonform.js}"></script>
    <script type="application/javascript"   th:src="@{/assets/js/json-form-base.js}"></script>

</head>

<body>
    <div class="container widePage">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sample Client</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul>

                    <form class="navbar-form navbar-right" id="refresh-access-form" role="search" th:action="@{/refreshAccess}" th:object="${token}">
                        <div class="form-group">
                            <span id="expirationCounter" class="form-control"></span>
                            <span id="tokenCost" class="form-control"></span>
                            <input type="text" class="form-control" placeholder="identifiant externe" name="delegator" id="delegator" th:value="${token.delegator}"/>
                        </div>
                        <button type="submit" class="btn btn-default">Refresh Token</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-3 sidebar">
                <div class="list-group">
                    <span href="#" class="list-group-item active">Liste des services</span>
                    <a th:href="@{/auto/eligibility}" class="list-group-item"><i class="fa fa-share-square-o"></i> WS Eligibilite</a>
                    <a th:href="@{/auto/price}" class="list-group-item"><i class="fa fa-euro"></i> WS Tarification</a>
                    <a th:href="@{/auto/proposal/_new}" class="list-group-item"><i class="fa fa-paperclip"></i> WS création devis</a>
                </div>
            </div>
            <div class="col-sm-9 content">
                <form id="ws-form"></form>

                <div id="responseModal" style="display:none" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content" style="padding:0px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div class="modal-body" id="responseBody">
                                <div id="errorBlock" style="display: none">
                                    <table id="errors_table"></table>
                                    <p id="errorText" ></p>
                                </div>
                                <div id="success" style="display: none" class="waitingSpinner"><i class="fa fa-check" aria-hidden="true" style="font-size:150px;color:green"></i></div>
                                <div id="waitingSpinner" class="waitingSpinner"><i class="fa fa-spinner fa-spin" style="font-size:150px;color:green"></i></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<div layout:fragment="wsFormInclude"></div>


<script>
    $(document).ready(function () {
        $("#refresh-access-form").submit(function (event) {
            event.preventDefault();
            refreshAccess();
        });
    });
</script>
</html>