<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Link ASSU Simulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <script>

        $(document).ready(function () {

            $("#refresh-access-form").submit(function (event) {
                event.preventDefault();
                refreshAccess();
            });

        });


        function refreshAccess() {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/token/refreshAccess",
                data: JSON.stringify("{}"),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#access').html(data.serialized);
                    $('#expiryTime').html(data.serialized);
                    $('#elapsed').html(data.elapsed);
                    console.log("SUCCESS : ", data);
                    $("#btn-search").prop("disabled", false);
                },
                error: function (e) {
                    $('#feedback').html(e.responseText);
                    console.log("ERROR : ", e);
                }
            });
        }

    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sample Client</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Sample Client</h1>
        <div id="access"></div>
        <div id="expiryTime"></div>
        <div id="elapsed"></div>
        <form class="form-horizontal" id="refresh-access-form">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search" class="btn btn-primary btn-lg">Refresh Access</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="container">
    <footer>
        <p>Sample Client</p>
    </footer>
</div>

</body>
</html>