spring:
  application:
    name: sample-client
  jpa:
    database: H2
  datasource:
    generate-unique-name: true
    url: jdbc:h2:file:./h2/sample-client
    username: sa
    password:
    driver-class-name: org.h2.Driver
  thymeleaf:
    cache: false
    check-template: true
    check-template-location: true
    content-type: text/html
    enabled: true
    encoding: UTF-8

cl:
  jose:
    entityId: sample-client
    refreshId: a9b54c74-ef02-4a9b-bff7-0445972e73e6
    peerRefreshEndpoint: http://idp-backend.prima-idp.5186179a.svc.dockerapp.io:8998/token/jose/access
    login: cl.sample-client
    password: Br5NUEuDdQpyMTs

server:
  port: 17777
  error:
    whitelabel:
      enabled: true

logging:
  file: logs/sample-client.log
  level:
    ROOT: INFO


info:
  build:
    artifact: sample-client
    name: sample-client
    description: A Sample IDP Client
    version: 1.0


management:
  security:
    enabled: false
security:
  basic:
    enabled: false