<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>


</head>

<body>
    <div class="container widePage">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Simulateur IDP délégué</a>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-sm-2 sidebar">
                <div class="list-group">
                    <span href="#" class="list-group-item active">Types de jeton</span>
                    <a th:href="@{/idp-form-jose}" class="list-group-item"><i class="fa fa-comment-o"></i> Jeton JOSE</a>
                    <a th:href="@{/idp-form-saml}" class="list-group-item"><i class="fa fa-comment-o"></i> Jeton SAML</a>
                </div>
            </div>
            <div class="col-sm-10 content">
                <div layout:fragment="tokenForm"></div>
            </div>
        </div>
    </div>
</body>


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
<script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/base.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/base.css}" />


</html>